* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
/*font-family: 'Poppins', sans-serif;*/

/*--------------------PRIMARY-PAGE-"HOME"------------------*/

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(images/banner.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
  font-size: 13px;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;

  transition: linear 0.3s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-box h1 {
  font-size: 62px;
}
.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: #fff;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;

  transition: 1s;
}

.hero-btn:hover {
  border: 1px solid #f44336;
  background: #f44336;
}

nav .fa {
  display: none;
}

@media (max-width: 700px) {
  .text-box h1 {
    font-size: 20px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: absolute;
    background: #f44336;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 30px;
  }
}

/*--------courses--------*/

.course {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  cursor: pointer;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.course-col {
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.course-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
  .course {
    padding-top: 50px;
  }
  .course h1 {
    font-size: 32px;
  }
  .course p {
    margin-bottom: 30px;
  }
  .course-col {
    margin-bottom: 30px;
  }
}

/*-----   campus   ----- */

.campus {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.campus-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.campus-col img {
  width: 100%;
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 1s;
}

.layer:hover {
  background: rgba(226, 0, 0, 0.7);
}
.layer h3 {
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 1s;
}

.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}

@media (max-width: 700) {
  .campus h1 {
    font-size: 32px;
  }
  .campus p {
    margin-bottom: 20px;
  }
}

/*---------Facilities----------*/

.facilities {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.facilities-col {
  flex-basis: 30%;
  text-align: left;
}

.facilities-col img {
  width: 100%;
  border-radius: 15px;
}

.facilities-col h3,
.facilities-col p {
  text-align: left;
  padding: 0;
  margin: 16px 0 20px 0;
}

/*--------Testomonials-----------*/

.testimonials {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  margin-bottom: 150px;
}

.testimonials-col {
  flex-basis: 40%;
  background-color: #fff2f1;
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
}
.testimonials-col img {
  height: 50px;
  border-radius: 100%;
}
.comment-desc p {
  padding: 0;
  margin-bottom: 20px;
}
.comment-desc {
  text-align: left;
  padding-left: 30px;
}

@media (max-width: 700px) {
  .testimonials-col {
    padding: 25px;
  }

  .testimonials-col img {
    margin-top: 70px;
  }
}

.comment-icon .fa {
  color: #f44336;
}

/*---------Contact Us Block---------*/

.contact-block {
  background-image: linear-gradient(
      rgba(35, 33, 21, 0.8),
      rgba(30, 31, 39, 0.7)
    ),
    url(/images/banner2.jpg);
  background-position: center;
  background-size: cover;
  width: 80%;
  margin: 0 auto;
  padding-top: 7%;
  cursor: default;
  border-radius: 10px;
}

.contact-elements {
  padding-bottom: 7%;
  text-align: center;
}
.contact-block h1 {
  color: #fff;
  margin-bottom: 4%;
}

.contact-btn a {
  color: white;
  padding: 15px 30px;
  border: 1px solid white;
  text-decoration: none;
  transition: 0.5s;
}

.contact-btn a:hover {
  background-color: #f44336;
}

@media (max-width: 700px) {
  .contact-block {
    margin-top: -80px;
    padding: 90px 0 50px 0;
  }
  .contact-block h1 {
    font-size: 22px;
    width: 80%;
    margin: 0 auto 40px auto;
  }
  .contact-btn a {
    padding: 5px 8px;
    font-size: 12px;
  }
}

/*-------Footer-------*/ /*!---This block we used for all pages --- */

.footer {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 10%;
}

.footer p {
  margin: 15px 0;
}

.social-ico .fa {
  margin: 0 13px;
  color: #f44336;
  cursor: pointer;
}
.desc .fa {
  color: #f44336;
  padding: 0 3px;
  margin-bottom: 2%;
}
.name-decor {
  padding-left: 3px;
  font-size: 30px;
  background: linear-gradient(rgb(255, 3, 226), rgb(255, 1, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 700px) {
  .footer {
    padding-top: 10px;
  }
  .footer p {
    margin: -10px 0 15px 0;
    font-size: 12px;
  }
  .social-ico {
    margin-bottom: 20px;
  }
  .name-decor {
    font-size: 20px;
  }
}

/*---------------------------About_Page-------------------------------*/

/*--------About-Header---------*/

.about_header {
  min-height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(images/background.jpg);
  background-position: center;
  background-size: cover;
}

.about_header h1 {
  text-align: center;
  align-items: center;
  padding-top: 5%;
  color: white;
}

/*-------Primary-Block--------*/

.about_primary-block {
  display: flex;
  width: 80%;
  margin: auto;
  padding-top: 10%;
}
.about_primary-desc p {
  padding: 30px 70px 20px 0;
}

.about_hero-btn {
  display: inline-block;
  border: 1px solid rgb(210, 71, 12);
  padding: 12px 34px;
  font-size: 13px;
  cursor: pointer;
  text-decoration: none;
  color: rgb(210, 71, 12);
  transition: 1s;
}

.about_hero-btn:hover {
  border: 1px solid #f44336;
  background: #f44336;
  color: #fff;
}

.about_primary-block img {
  border-radius: 5px;
  width: 48%;
}

@media (max-width: 700px) {
  .about_header h1 {
    padding-top: 19%;
  }

  .about_primary-block {
    display: block;
    width: 80%;
    margin: auto;
    padding-top: 10%;
  }

  .about_primary-block img {
    width: 100%;
  }
  .about_btn {
    display: flex;
    justify-content: center;
  }
  .about_hero-btn {
    margin: 10px auto 40px auto;
  }
  .about_primary-desc p {
    padding: 20px 0;
  }
}

/*------------------Courses_Page-Header----------------------------*/

/*---------Course------------ */

/*---------Facilities------------ */

/*---------Footer------------ */
.footer-page {
  margin-top: -70px;
}

@media (max-width: 700px) {
  .footer-page {
    margin-top: 10px;
  }
}

/*------------------------Blog_Page----------------------------*/

/*--------About-Header---------*/

/*--------Blog-Primary--------*/

.blog-content {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 10% auto 2% auto;
  text-align: left;
}

/*--------Blog-Left--------*/

.blog-left {
  flex-basis: 65%;
}

.blog-left img {
  width: 100%;
  margin: 0 2% 0 0;
}

.blog-left h3 {
  text-align: left;
  padding: 10px 0;
}

.blog-left p {
  padding-left: 0;
}
.comment-box {
  border: 1px solid #ccc;
  margin: 50px 0;
  padding: 10px 20px;
}

.comment-form input,
.comment-form textarea {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: #f0f0f0;
}

.comment-form button {
  margin: 10px 0;
  background-color: white;
}

/*--------Blog-Right--------*/

.blog-right {
  flex-basis: 32%;
  box-sizing: border-box;
}

.blog-right_title {
  text-align: center;
  background-color: #f44336;
  color: #fff;
  font-size: 16px;
}

.blog-right p {
  font-weight: 500;
}

.containers {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

@media (max-width: 700px) {
  .blog_header h1 {
    padding-top: 8%;
    font-size: 34px;
  }
  .blog-content {
    display: block;
  }
}
